@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/*********************************** Reset ***********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/********************************* Variables **********************************/
$blue: #0082DD;
$dark-blue: #323D4E;
$icon-blue: #165199;
$expand-blue: #31A1EF;
$yellow: #FFC23A;
$white: #FFFFFF;
$grey: #A9A9A9;
$black: #000000;
$transition: 0.3s;
$map-padding: 2rem;

/*********************************** Main ************************************/
html {
	font-size: 16px;
}

body {
  font-family: 'Open Sans', -apple-system, sans-serif;
	color: $white;
	line-height: 1.5;
}

.App {
	position: relative;
	background-color: $dark-blue;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	header, footer {
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		width: calc(100% - 2 * #{$map-padding});

		@include lg {
			position: relative;
			flex-direction: column;
			align-items: center;
			text-align: center;

			img, a.button {
				margin-bottom: $map-padding;
			}
		}
	}

	header {
		top: $map-padding;
	}

	footer {
		bottom: $map-padding;
		font-size: 0.75rem;
		font-weight: bold;

		@include lg {
			margin-top: $map-padding;
		}

		@include sm {
			font-size: calc(0.6rem + 0.3vw);
		}
	
		span {
			font-weight: 400;
		}

		a {
			transition: $transition;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

a {
	color: white;
	text-decoration: none;

	&.button {
		font-size: 0.8125rem;
		font-weight: 700;
		background-color: $white;
		opacity: 0.75;
		color: $dark-blue;
		width: max-content;
		padding: 1rem 2rem;
		border-radius: 50px;
		transition: $transition;

		&:hover {
			opacity: 1;
		}

		@include lg {
			background-color: transparent;
			opacity: 1;
			color: $white;
			padding: 0;
		}
	}
}

.map-container {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 0;
	background-color: $dark-blue !important;

	@include lg {
		display: none;
	}

	.heartPopup__diagram {
		width: 100%;
		padding: 4rem 0;
	}

	.leaflet-control-container, 
	.leaflet-popup-tip-container {
		display: none;
	}

	.leaflet-map-pane, 
	.leaflet-popup-pane,
	.leaflet-popup-content {
		width: 100% !important;
		margin: 0;
	}

	.leaflet-map-pane,
	.leaflet-popup {
		transform: none !important;
	}

	.leaflet-map-pane {
		height: 100% !important;

		.leaflet-popup-pane {
			top: 50%;

			.leaflet-popup {
				font-family: 'Open Sans', -apple-system, sans-serif;
				position: relative;
				z-index: 1;
				left: 0 !important;
				top: 50% !important;
				transform: translateY(-50%) !important;
				width: 80%;
				max-width: 1200px;
				margin: auto;
				filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.5));
				transition: $transition;

				.leaflet-popup-content-wrapper {
					overflow-y: scroll;
					scrollbar-width: none; /* hide Firefox scrollbar */
					-ms-overflow-style: none; /* hide IE and Edge scrollbar */
					height: max-content;

					&::-webkit-scrollbar {
						display: none; /* hide Chrome, Safari, Opera scrollbar */
					}
				}

				.leaflet-popup-content {
					padding: $map-padding;

					header {
						position: relative;
						top: 0;
						z-index: 0;
						width: 100%;
						flex-direction: column;
						align-items: center;
						margin-bottom: $map-padding;
					}

					footer {
						position: relative;
						bottom: 0;
						color: $grey;
						font-size: 0.75rem;
						width: 100%;
						display: block;

						a {
							font: inherit;
							color: inherit;
							text-decoration: underline;
						}
					}

					@at-root #{&}-wrapper {
						background-color: rgba(0, 0, 0, 0.85);
						color: $white;
						height: 100%;
						border-radius: 20px;
					}
				}

				@at-root #{&}-close-button {
					content: "";
					display: block;
					position: absolute;
					padding: 0;
					border-radius: 50%;
					border: 2px solid $blue;
					background-color: $blue;
					color: transparent;
					top: $map-padding;
					right: $map-padding;
					width: $map-padding;
					height: $map-padding;
					transition: $transition;

					&:hover {
						opacity: 0.75;
					}

					&::before, &::after {
						content: "";
						display: block;
						width: 2px;
						height: 1rem;
						background-color: $white;
						top: calc(0.5rem - 2px);
						left: calc(0.5rem + 5px);
						position: absolute;
						border-radius: 5px;
					}

					&::before {
						transform: rotate(-45deg);
					}

					&::after {
						transform: rotate(45deg);
					}
				}	
			}		
		}
	}

	.icon {
		min-width: max-content;
		height: auto !important;
		border-radius: 20px;
		padding: 0.2rem 1rem;
		background-color: $icon-blue;
		transition: $transition;
	
		&:hover {
			background-color: $yellow;
		}
	
		.icon-span {
			font-family: 'Open Sans', -apple-system, sans-serif;
			font-size: 0.875rem;
			font-weight: 700;
		}
	}
}

.cityName {
	font-size: 1.75rem;
	font-weight: 700;
	text-transform: uppercase;

	@include lg {
		display: none;
	}
}

.citySubhead {
	font-size: 1rem;

	@include lg {
		margin-bottom: 8vw;
	}
}

.fleet-chart {
	margin-bottom: $map-padding;

	hr {
		margin: 0;
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	@at-root #{&}__row {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		align-items: center;
		text-align: center;

		&:not(:first-child) {
			margin: 1.4rem 0;

			@include md {
				margin: 2vw 0;
			}

			@include lg {
				margin: 8vw 0;
			}
		}

		&.title {
			margin-bottom: $map-padding;
			
			h3 {
				text-transform: uppercase;
				font-size: 0.875rem;
				font-weight: 700;
				color: $grey;

				@include lg {
					&.desktop {
						display: none;
					}
				}

				@include md {
					font-size: 1.4vw;
				}
				
				@include sm {
					font-size: 2vw;
				}
			}
		}

		@include lg {
			grid-template-columns: 1.5fr repeat(3, 1fr);
		}

		> img {
			margin: auto;
			width: 90%;

			@include lg {
				display: none;
			}
		}

		@at-root #{&}__type {
			font-size: 1.125rem;
			text-transform: uppercase;

			@include md {
				font-size: 1.6vw;
			}

			@include sm {
				font-size: 2.5vw;
				font-weight: 700;
			}

			@at-root #{&}__icon {
				display: none;
				margin: 0 auto 0.5rem;

				@include lg {
					display: block;
					width: 12rem;
				}

				@include sm {
					width: 25vw;
				}
			}
		}

		@at-root #{&}__cost {
			font-size: 1.625rem;

			@include lg {
				&.desktop {
					display: none;
				}
			}

			@include sm {
				font-size: 4vw;
			}
		}

		.managed_electric {
			font-weight: 800;
		}
	}
}

.mobile-container {
	width: calc(100% - 2 * #{$map-padding});
	display: none;

	@include lg {
		display: block;
		margin: $map-padding 0;
	}

	.city-container {
		@at-root #{&}__city {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			font-size: 1.125rem;
			font-weight: 600;
			width: 100%;
			height: 3.25rem;
			background-color: $blue;
			border: 2px solid $blue;
			text-transform: uppercase;
			border-radius: 5px;
			padding: 1rem;
			cursor: pointer;
			transition: $transition;
			max-width: 30rem;
			margin: auto;

			&.expand {
				background-color: $black;
				color: $expand-blue;
				border-color: $expand-blue;
				
				.city-container__city__toggle {
					background-color: $blue;
					border-color: $expand-blue;

					&::before, &::after {
						background-color: $white;
					}

					&::before {
						transform: rotate(-45deg);
					}

					&::after {
						transform: rotate(45deg);
					}
				}
			}

			@at-root #{&}__toggle {
				content: "";
				display: block;
				position: absolute;
				padding: 0;
				border-radius: 50%;
				border: 2px solid $white;
				background-color: $white;
				transform: translateY(-50%);
				top: 50%;
				right: calc((3.25rem - 2rem) / 2);
				width: $map-padding;
				height: $map-padding;
				color: transparent;
				transition: $transition;
				pointer-events: none;

				&::before, &::after {
					content: "";
					display: block;
					width: 2px;
					height: 1rem;
					background-color: $blue;
					border-radius: 5px;;
					top: calc(0.5rem - 2px);
					left: calc(0.5rem + 5px);
					position: absolute;
					transition: $transition;
				}

				&::before {
					transform: rotate(0deg);
				}

				&::after {
					transform: rotate(90deg);
				}
			}	
		}

		@at-root #{&}__chart {
			background-color: rgba(0, 0, 0, 0.65);
			filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.5));
			border-radius: 10px;
			position: relative;
			width: 100%;
			padding: 0; // expands to 8vw
			max-height: 0; // expands to 208vw
			max-width: 800px;
			margin: 1rem auto;
			transition: 0.5s;
			overflow: hidden;

			@include sm {
				margin: 0.5rem auto;
			}

			header, footer {
				width: 100%;
			}

			header {
				top: 0;
			}

			footer {
				display: block;
				text-align: left;
				bottom: 0;
				color: $grey;

				a {
					font: inherit;
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}
}